MONGO_URI=
JWT_SECRET=
PORT=5000
CLIENT_URL=https://dembeni-v-i5sd-hgn26psxy-dembeni.vercel.app
CLIENT_URLS=https://dembeni-v-i5sd-hgn26psxy-dembeni-git-main-yourpreview.vercel.app,https://another-preview.vercel.app
